# Ignore everything
*

# Allow selected folders (first the folder, then everything inside)
!/simulations/
!/simulations/**

!/functions/
!/functions/**

!/wsc/
!/wsc/**

!/soldiering/
!/soldiering/**

simulations/slurm_output

# Always allow this file
!.gitignore

# Recommended RStudio ignores
.Rproj.user/
.Rhistory
.RData
.Ruserdata
